# -------------------------
# Virtual environment
# -------------------------
.venv/
.venv

# -------------------------
# IDE & Editor settings
# -------------------------
.idea/
.idea
.vscode/

# -------------------------
# Python cache files
# -------------------------
__pycache__/

# -------------------------
# Database files (local use only)
# -------------------------
db.sqlite3
db_backup.sqlite3

# -------------------------
# Environment variables file
# -------------------------
.env
