{% extends "layout.html" %}
{%load static%}
{%block title%} Login - Xchange {%endblock%}
{%block body%}

    <div class="container d-flex align-items-center justify-content-center mt-3"> 
        <div class="message-card shadow p-4 border">
            <div class="message-div">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {%endif%}
            </div>
            <h3 class="text-center mb-4">Login</h3>
            <form action="{%url 'login'%}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="loginUsername" class="form-label">Username</label>
                    <input name="username" class="form-control" id="loginUsername" placeholder="Enter your username">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Enter your password">
                </div>
                <button type="submit" class="btn btn-primary w-100 submit-btn">Login</button>
            </form>
            <div class="text-center mt-3">
                <span class="auth-text">Don't have an account? <a class="auth-link" href="{%url 'register' %}">Register</a></span>
            </div>
        </div>
    </div>

{%endblock%}