{% extends "layout.html" %}
{%load static%}
{%block title%} News - Xchange{%endblock%}
{% block body %}
    <!--news section-->
    <div class="container">
        <div class="search-bar-div">
            <form class="search-bar" action="#" method="GET">
                {% csrf_token %}
                <input class="search-input" type="text" name="query" placeholder="Search news..." value="{{request.GET.query}}">
            </form>
            
        </div>
    </div>
    <div class="container">
        <h3 class="text-center mt-2">News headlines </h3>
    </div>
    {%if news%}
        <div class="container">
            <div class="row">
                {%for item in news%}
                    <div class="col-sm-3 mt-3 news-card {% if forloop.counter > 8 %}hidden{% endif %}">
                        <a href="{{item.url}}" target="_blank">
                            <img class="img-thumbnail news-image" src="{{item.urlToImage}}" alt="">
                            <div class="news-title">{{item.title}}</div>
                        </a>
                    </div>
                {%endfor%}
            </div>
            <div class="read-div"><a class="read-text" id="news-toggle-btn">Read More</a></div>
        </div>
    {%else%}
        <div class="container">
            <p class="text-center">unable to fetch news articles at this time.</p>
        </div>
    {%endif%}
    <!--end of news section-->
{%endblock%}
{% block script %}
    <script type="module" src="{% static 'script/news.js' %}"></script>
{% endblock %}