
{%extends "layout.html" %}
{%load static%}
{%block title%}Profile - Xchange{%endblock%}
{%block body%}
    <div class="container mt-5">
        <div class="card shadow-lg rounded-3">
            <div class="card-body text-center">
                <!-- Profile Picture -->
                <img src="{% static 'images/profile/profile.jpg' %}"  class="profile-pic" >

                <!-- Username and Email -->
                <h4 class="mb-1 user-name">{{ user.username }}</h4>
                <p class="text-muted user-email">{{ user.email }}</p>
            
                <!-- Quick Actions -->
                <div class="d-flex justify-content-center gap-3 my-3">
                    <a href="#" class="edit-btn">Edit Profile</a>
                    <a href="#" class="change-pw-btn">Change Password</a>
                    <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
                </div>
            </div>

            <!-- Details Section -->
            <div class="card-body border-top profile-details">
                <h5>Profile Details</h5>
                <ul class="list-unstyled">
                    <li class="profile-item"><strong>Name:</strong> {{ user.first_name }} {{user.last_name}}</li>
                    <li class="profile-item"><strong>Email:</strong> {{ user.email }}</li>
                    <li class="profile-item"><strong>Joined:</strong> {{ user.date_joined }}</li>
                </ul>
            </div>

            <!-- Saved Conversions -->
            <div class="card-body border-top">
                <h5>Saved Conversions</h5>
                <ul class="list-group">
                    {% for pair in saved_pairs %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ pair.base.code }} → {{ pair.quote.code }}
                    <a href="#" class="btn btn-sm btn-outline-danger">Remove</a>
                    </li>
                    {% empty %}
                    <li class="list-group-item">No saved conversions yet.</li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Recent Activity -->
            <div class="card-body border-top">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h5 class="d-inline">Recent Activity</h5>
                    <div class="d-inline clear-text" id="clear-recent-activity">Clear all</div>
                </div>
                    
                <ul class="list-group" id="recent-activity-list">
                    <!-- Recent activities will be populated here via JavaScript -->
                </ul>
            </div>
        </div>
    </div>
{%endblock%}