@import url("layout.css");
@import url("available-currency.css");
@import url("login.css");
@import url("index.css");
@import url("registar.css");
@import url("news.css");
@import url("saved-currency.css");
@import url("button.css");



.card {
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #007bff;
}


.title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 10px;
  }

.rate-row {
  border-top: 1px solid #ddd;
  padding: 5px 0;
}



