body {
      background-color: #f8f9fa;
      font-family: "Times New Roman", Times, serif;
      font-size: 1.2rem;
      }

.navbar-brand {
  font-size: 1.5rem;
  }

.navbar-nav .nav-link {
  font-size: 1.1rem;
  color: #fff;
  transition: 0.3s;
  }

.navbar-nav .nav-link:hover {
  color: #ffc107;
  }

.navbar-toggler-icon {
  background-color: #fff;
  }

.navbar-collapse {
  justify-content: space-between;
  }

.navbar-brand {
 margin-right: 8rem;
}

body {
    background-color: #f8f9fa;
}

.card {
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007bff;
}

.button {
    background-color: #007bff;
    border-color: #007bff;
    width: 8rem;
    height: 3.2rem;
    font-size: 1.2rem;
    border-radius: 0.8rem;
}

.button:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.result {
    display: none;
}

.img-graph {
    width: 100%;
}

.swap-btn {
    width: 4rem;
    height: 4rem;
  }

.hidden {
       display: none;
   }
